/* Estilos comunes para todas las pantallas */
* {
  font-family: Arial, sans-serif;
  font-size: 102%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.search-container {
  background-color: #f2f2f2;
  padding: 20px;
  position: sticky;
  top: 0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 1%;
  font-size: 110%;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  width: 100%;
}

.search-button {
  padding: 8px 16px;
  font-size: 110%;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

.player-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-controls {
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.play-btn,
.pause-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.play-btn:hover,
.pause-btn:hover {
  color: #1db954;
}

.progress-bar {
  position: relative;
  width: 35%;
  height: 8px;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.progress-bar .currentTime {
  position: absolute;
  font-size: 17px;
  top: -9px;
  height: 20px;
  left: -60px;
  margin-left: 6px;
  right: auto;
  text-align: center;
}

.progress-bar .totalTime {
  position: absolute;
  font-size: 17px;
  top: -9px;
  height: 20px;
  left: auto;
  right: -60px;
  margin-right: 6px;
  text-align: center;
}

.progress-bar .nameSong {
  position: absolute;
  left: -90%;
  top: -14px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-bar .songContainer {
  padding: 1px;
  width: 250px;
  overflow: hidden;
}

.progress-bar:hover .progress,
.progress-bar:hover .progress-circle {
  background-color: #1db954;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #1db954;
  border-radius: 4px;
  transition: width 0.3s;
}

.buffer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #878787;
  border-radius: 4px;
}

.play-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.currentTime {
  padding: 1px;
  margin-right: 2px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1198px) {
  .progress-bar .nameSong {
    position: absolute;
    left: -90%;
    top: -14px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .progress-bar .songContainer {
    padding: 1px;
    width: 14px;
    overflow: hidden;
    display: none;
  }
}
